<a href="https://colab.research.google.com/github/makataomu/DLS_base/blob/main/%22%5Bhomework%5Dpandas_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p style="align: center;"><img src="https://static.tildacdn.com/tild6636-3531-4239-b465-376364646465/Deep_Learning_School.png", width=600, height=300></p>

<h3 style="text-align: center;"><b>Школа глубокого обучения ФПМИ МФТИ</b></h3>

<h2 style="text-align: center;"><b>Домашнее задание. Библиотека <a href="http://pandas.pydata.org/">pandas</a></b></h2>

В этом задании вы проанализируете данные из Appstore

<img src="https://drive.google.com/uc?export=view&id=1F1Qajgj-dC4o4VI3Wm7fIGlOJA0a60_B" width=300 height=300>

In [ ]:
#!pip install pandas

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Данные для задания: https://drive.google.com/file/d/1JY8l5nSu9O4GtMDpaOfH2Oowlpza3U-c/view?usp=sharing

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/BlackFriday.csv')

Посмотрим, что же такое переменная `data`:

In [ ]:
data.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [ ]:
type(data)

pandas.core.frame.DataFrame

---

#### Вопрос

О чём данные? (Hint: https://www.kaggle.com/sdolezel/black-friday)

---

#### Основное задание (в тесте надо будет вставлять ответы для этих пунктов):

*Примечание:* не бойтесь гуглить и заглядывать в "Полезные ссылки" для того, чтобы выполнить какие-то задания. Возможно, на семинаре не было какого-то нужного метода, но он находится в поисковике за 2 минуты.

**0).** Сколько всего возрастных категорий?

In [ ]:
# Ваш код здесь titanic_passengers['Sex'].value_counts()
print(data['Age'].value_counts())
data['Age'].nunique()

26-35    214690
36-45    107499
18-25     97634
46-50     44526
51-55     37618
55+       20903
0-17      14707
Name: Age, dtype: int64

7

**1).** Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [ ]:
# Ваш код здесь
print(data.groupby(['Gender'])['City_Category'].value_counts())
data.groupby(['Gender'])['City_Category'].count()

Gender  City_Category
F       B                 56494
        C                 40896
        A                 34807
M       B                169999
        C                125550
        A                109831
Name: City_Category, dtype: int64

Gender
F    132197
M    405380
Name: City_Category, dtype: int64

**2).** Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [ ]:
# Ваш код здесь
#data.groupby(['Age' == '46-50']).value_counts()
data1 = data[data['Gender'] == 'F']
data1 = data1[data1['Age'] == '46-50']
data1 = data1[data1['Purchase'] > 20000]
print(data1['User_ID'].count())
#AND and & are dfferent!!!!
data2 = data[(data.Gender == 'F') & (data.Age == '46-50') & (data.Purchase > 20000)].shape[0]
data2

270

270

**3).** Сколько NaN'ов в столбце Product_Category_3?

In [ ]:
# Ваш код здесь
data1 = data['Product_Category_3'].isna().sum()
data1

373299

**4).** Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [ ]:
# Ваш код здесь
all_buyers = data['Purchase'].count() - data['Purchase'].isna().sum()
M = data[(data.Gender == 'M') & (data.Age == '26-35')]
M_count = M['User_ID'].count()
F = data[(data.Gender == 'F') & (data.Age > '26-35')]
F_count = F['User_ID'].count()
ans = (M_count + F_count) / all_buyers
round(ans, 4)

0.4077

---

Больше про pandas можно найти по этом полезным ссылкам:

* Официальные туториалы: http://pandas.pydata.org/pandas-docs/stable/tutorials.html

* Статья на Хабре от [OpenDataScience сообщества](http://ods.ai/)**:** https://habr.com/company/ods/blog/322626/

* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf

Главное в работе с новыми библиотеками -- не бояться тыкать в разные функции, смотреть типы возвращаемых объектов и активно пользоваться Яндексом, а ещё лучше понимать всё из docstring'а (`Shift+Tab` при нахождении курсора внутри скобок функции).